
// FEEL FREE TO DELETE THIS FILE TO REMOVE GREETING MESSAGE STYLES 


.greeting {
    @include flex-center(0);
    height: 100vh;
    background: #222;
    color: #fff;
    text-align: center;

    .greeting__logo {
        width: 250px;
        @media screen and (max-width:$mobile) {
            width: 150px;
        }
    }

    .greeting__title {
        font-size: 3rem;
        font-weight: 100;
        margin: 2rem 0 1rem 0;
        @media screen and (max-width:$mobile) {
           font-size: 1.6rem;
        }
    }

    .greeting__subtitle {
        font-size: 1.4rem;
        font-weight: 100;
        color: rgb(255, 255, 255, .5);
        @media screen and (max-width:$mobile) {
            font-size: 1rem;
         }
    }

}