@mixin image-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object: {
        fit: cover;
        position: center;
    }
}



@mixin display-grid($gtc, $gap) {
   display: grid;
   grid-template-columns: $gtc;
   gap: $gap;
}




@mixin flex-center($gap) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: $gap;
}
