$clr-purple: #6128D0;
$clr-purple-faded: #6028d0cc;
$clr-purple0-darker: #5024a6;


$clr-pink:#FB3C74;
$clr-pink-faded:#FB3C74;
$clr-pink-darker:#d63666;

$clr-blue: #5AC9DE;
$clr-blue-faded: #5AC9DE;
$clr-blue-darker: #4da9bb;

$clr-green-faded: #B4F351;
$clr-green-darker: #94c742;


// FONT SIZES
$fs-sml: 1rem;
$fs-med: 1.4rem; 
$fs-lrge: 2rem;
$fs-xlrge: 2.5rem;
$page-title: 3.5rem;
$hero-title: 4.5rem;


// FONT WEIGHT
$fw-1: 200;
$fw-2: 300;
$fw-3: 400;
$fw-4: 600;
$fw-5: 900;



// FONT FAMILY
$ff-main:'Inter Tight', sans-serif;


// SIZES
$mobile: 560px;
$tablet: 1360px;
$laptop: 1800px;
$desktop: 2200px;